.card-o .card-o-content,.card-contact .card-o-content {
    -webkit-background-size: cover!important;
    background-size: cover!important;
    background-position: center;
    width: 100%
}

.card-o .card-o-content .card-overlay {
    -webkit-border-radius: .25rem;
    border-radius: .25rem
}

.btn-floating.halfway-fab.center {
    margin:auto;
    left: 24px; }

.form-contact
{
	margin-top: -3em;
}

.contact-field.m-top
{
	margin-top: -2em;
}

.ov-gd-warning {
  border-radius: 0!important;
  background-image: -webkit-linear-gradient(0deg, rgba(255,255,255, 1), rgb(255, 193, 7));
  background-image: linear-gradient(0deg, rgba(255,255,255, 1), rgb(255, 193, 7));
}

.ov-gd-success {
  border-radius: 0!important;
  background-image: -webkit-linear-gradient(0deg, rgba(255,255,255, 1), rgb(174, 234, 0));
  background-image: linear-gradient(0deg, rgba(255,255,255, 1), rgb(174, 234, 0));
}

.ov-gd-danger {
  border-radius: 0!important;
  background-image: -webkit-linear-gradient(0deg, rgba(255,255,255, 1), rgb(244, 67, 54));
  background-image: linear-gradient(0deg, rgba(255,255,255, 1), rgb(244, 67, 54));
}

.ov-gd-info {
  border-radius: 0!important;
  background-image: -webkit-linear-gradient(0deg, rgba(255,255,255, 1), rgb(0, 188, 212));
  background-image: linear-gradient(0deg, rgba(255,255,255, 1), rgb(0, 188, 212));
}

.ov-gd-primary {
  border-radius: 0!important;
  background-image: -webkit-linear-gradient(0deg, rgba(255,255,255, 1), rgb(13, 71, 161));
  background-image: linear-gradient(0deg, rgba(255,255,255, 1), rgb(13, 71, 161));
}

.ov-gd-secondary {
  border-radius: 0!important;
  background-image: -webkit-linear-gradient(0deg, rgba(255,255,255, 1), rgb(96, 125, 139));
  background-image: linear-gradient(0deg, rgba(255,255,255, 1), rgb(96, 125, 139));
}



/**abstract**/
.ab-circle
{
	border-radius: 50%!important;
	height: 7em;
	background-color:white; 
	width: 7em;
	position:relative;
	top: 0;
	left: 0;
	z-index: 78;
}

.ab-circle.danger
{
	border:0.5em solid #f44336!important;
}

.ab-circle.success
{
	border:0.5em solid #4caf50!important;
}

.ab-circle.warning
{
	border:0.5em solid #ffc107!important;
}

.ab-circle.info
{
	border:0.5em solid rgb(0, 188, 212)!important;
}

.ab-circle.primary
{
	border:0.5em solid #1565c0!important;
}

.ab-circle.secondary
{
	border:0.5em solid rgb(96, 125, 139)!important;
}

.ab-rounded
{
	-webkit-border-radius: 10em;
  	border-radius: 10em;
  	position: relative;
  	left: 5%;
  	width: 95%;
  	z-index: 76;
  	max-height: 4em;
  	margin-top: -5.1em;
}

.ab-content
{
	position: relative;
	z-index: 75;
	width: 84%;
	margin-left: 10%;
	top:calc(50% + 40px);
	min-height:150px;
	margin-top: -1.5em;
	padding-top: 1em; 
}	

.ab-text span
{
	padding-left: 15%;
}


.chip-icon {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  align-items: center;
  border-radius: 1rem;
  color: white;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  height: 2rem;
  justify-content: center;
  margin-right: 0.5rem;
  margin-left: -0.75rem;
  order: -1;
  text-align: center;
  width: 2rem; }



/*--- Team Area Css ---*/

.neyllie-team-card {
  border: 1px solid #ddd;
}

.neyllie-team-card:hover .card-team-img a:after {
  opacity: 1;
}

.neyllie-team-card:hover .icon-hover-overlay {
  top: 45%;
  opacity: 1;
}

.card-team-img {
  position: relative;
  line-height: 0;
}

.card-team-img>a {
  display: block;
}

.card-team-img>a::after {
  background: rgba(0, 0, 0, 0.70);
  bottom: 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  transition: all 0.5s ease 0s;
  width: 100%;
  opacity: 0;
}

.icon-hover-overlay {
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  position: absolute;
  top: 30%;
  transition: 1.3s;
}

.icon-hover-overlay ul li {
  display: inline-block;
}

.icon-hover-overlay ul li a i {
  border: 1px solid #fff;
  color: #fff;
  height: auto;
}

.icon-hover-overlay ul li a
{
  color: #fff;
}

.team-content {
  padding: 10px 0px;
}

.team-content>h4, .team-content>p {
  color: #444;
  margin-bottom: 5px;
}

.team-content.head-team p {
  margin-bottom: 0;
}

.team-left-icon.text-center {
  margin-bottom: 20px;
}